frameworkconfig=Datasheet
ObjectRepositoryPath=com/test/resources
TestSuitePath=com\\test\\resources
TestScriptPath=com/test/java
TestScriptPkg=com.test.java
DatasheetPath=com/main/resources
XMLPath=XML
ReportPath=Reports
Artifacts=Artifacts\\Others
QTP_Artifacts=QTP_Artifacts
LogsPath=com/runner
isRunningThroughALM=false
LibPath=Library
LibFiles=ApplicationClass